transformers>=4.51.0,<4.53.0
datasets
accelerate
peft
trl
tokenizers
gradio
pandas
scipy
einops
sentencepiece
tiktoken
protobuf
uvicorn
pydantic
fastapi
sse-starlette
matplotlib
fire
packaging
pyyaml
numpy
av
tyro
loguru
openai
wandb
qwen-vl-utils
vllm==0.8.3